html:root {
    --Royal-blue: #5956E9;
    --gray-paragraph: #6C6C72;
    --Black: #232233;
    --White: #FFF;
}

html,
body {
    font-size: 62.5%;
    
}

* {
    box-sizing: border-box;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    
}

/* josefin-sans-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/josefin-sans-v32-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/josefin-sans-v32-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/josefin-sans-v32-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/josefin-sans-v32-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/josefin-sans-v32-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/josefin-sans-v32-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/josefin-sans-v32-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.purple-paragraph {
    color: var(--Royal-blue);
}

.gray-paragraph {
    color: var(--gray-paragraph);
}

.white-paragraph {
    color: var(--White);
}

.black-paragraph {
    color: var(--Black);
}

.p_16-24 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 150% */
}

.h_20-30 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    /* 150% */
    text-transform: uppercase;
}

.h_25-37 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    /* 150% */
    text-transform: uppercase;
}

.h_31-47 {
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 4.7rem;
    /* 151.2% */
    text-transform: uppercase;
}

.p_20_underline {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.p_12 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: normal;
}

.button_p {
    display: block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 76px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    text-decoration: none;
    color: var(--White);
    background-color: var(--Royal-blue);
    padding: 12px 6px;
    border-radius: 3px;
    text-align: center;
}

.main_header {
    padding-top: 40px;
    padding-bottom: 120px;
    background-image: url(pictures/Background\ Image\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

main {
}

.container {
    margin: 0 auto;
    width: 343px;
}

.header_navbar {
    margin: 0 auto;
    width: 343px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    background-color: var(--White, #FFF);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    position: relative;

}

.navbar_logo {
    width: 100px;
    padding: 24px 11px 24px 10px;
    border-radius: 5px;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    left: 122px;
}

.navbar_menu {
    width: 24px;
    height: 24px;
    margin-left: 9px;
}

.introduce__hero-text{
    margin: 0;
    margin-bottom: 18px;
}

.introduce__description--main_text {
    margin: 0;
    margin-bottom: 30px;
}

.container__block-border {
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.introduce__description--download {
    margin: 0;
    margin-right: 62px;
}

.introduce__links a {
    display: block;
    margin: 0;
}

.link--google-play img {
    display: block;
    margin: 0;
}

.link--appstore img{
    display: block;
    margin: 0;
}

.introduce__links {
    margin: 0;
    padding: 0;
    display: flex;
    width: 228px;
    justify-content: space-between;
    margin-right: 65px;
    margin-top: 18px;
}

.block-border__introduce {
    margin: 0;
    width: 323px;
    padding: 30px 12px 21px 18px;
    background-color: var(--White);
    margin-bottom: 60px;
    z-index: 1;
}
 /* .bg1 {
  background-image: url(pictures/Background\ Image\ \(1\).png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-bottom: 120px; 
} */

.block-border__purple-border {
    margin: 0;
    position: absolute;
    border: 10px solid #7572FF;
    width: 323px;
    height: 368px;
    z-index: -1;
    top: -20px;
    left: 20px;
}

.app_introduce_section {
    background-image: url(pictures/Background\ Image\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;    
}

.app_introduce_section__main-img {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.about_our_app-section {
    margin-bottom: 92px; 
}

.about_our_app__hero-text {
    width:fit-content;
    margin: 0 auto;
    margin-bottom: 18px;  
    margin-top: 60px;    
}

.about_our_app__text--description {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.about_our_app__img--main {
    display: block;
    margin: 0 auto;
    margin-bottom: 75px; 
}

.about_our_app__list--advantages {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.about_our_app__list--advantages .item {
    margin: 0;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.about_our_app__list--advantages .item:last-child {
    margin-bottom: 0;
}

.tick-description h3 {
    margin: 0;
}

.tick-description img {
    display: block;
    margin: 0;
}

.tick-description {
    display: flex;
    margin: 0;
    align-items: center;
    margin-left: 19px;
    gap: 18px;
    margin-bottom: 3px;
}

.item .short-description {
    margin: 0;
    margin-left: 61px;
}

.app-features_section {
    background-image: url(pictures/Rectangle\ 23.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    padding-bottom: 60px;
    margin-bottom: 103px;  
    padding-top: 60px;       
}

.app-features_section__hero-text {
    width:fit-content;
    margin: 0 auto;
    margin-bottom: 18px;
}

.app-features_section__description {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.app-features_section__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.list__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.app-features_section__list{
    margin: 0 auto;
}

.app-features_section__list .list__item h3{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 18px;
}

.app-features_section__list .list__item p {
    margin-bottom: 18px;
    text-align: center;
    margin: 0 auto;
}

.item__features_description--full_free_chat {
    width: 223px;
    margin: 0 auto;   
}

.item__features_description--unlimited_features {
    width: 223px;
    margin: 0 auto;
}

.item__features_description--awesome_ui_design  {
    width: 223px;
    margin: 0 auto;
}

.item__features_description--ios_android {
    width: 215px;
    margin: 0 auto;
}

.item__features_description--retina_ready_graphics {
    width: 213px;
    margin: 0 auto;
}

.item__features_description--support_people {
    width: 297px;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
}

.item__hero-par--full_free_chat {
    width: 171px;   
}

.item__hero-par--unlimited_features {
    width: 223px; 
}

.item__hero-par--awesome_ui_design {
    width: 206px;
}

.item__hero-par--ios_android {
    width: 215px;
}

.item__hero-par--retina_ready_graphics {
    width: 213px;
}

.item__hero-par--support_people {
    width: 244px;
}

.list__item--full_free_chat {
    margin-bottom: 40px;    
}

.list__item--unlimited_features {
    margin-bottom: 40px;
}

.list__item--awesome_ui_design {
    margin-bottom: 60px;
}

.list__item--ios_android_version {
    margin-bottom: 50px;
}

.list__item--retina_ready_graphics {
    margin-bottom: 59px;
}

.list__item--people_support {
    margin-top: 59px;
}

.list__item--main-img {
    width:fit-content;
    margin: 0 auto;
}

.download_app_now_section {
    margin-bottom: 76.85px;
}

.download_app_now__links a img {
    width: 150px;  
    margin: 0 auto;  
}

.download_app_now__paragraph--hero-text {
    width: 287px;
    margin: 0;
    margin-bottom: 18px;
}

.download_app_now__paragraph--description {
    margin: 0;
    width: 329px;
    margin-bottom: 40px;
}

.download_app_now__links{
    width: 325px;
    display: flex;
    gap: 25px;
    margin-bottom: 60px;
}

.download_app_now__list {
    width: fit-content;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
    margin-bottom: 60px;
}

.download_app_now__list .item {
    background-color: var(--Royal-blue);
    width: 96px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download_app_now__list .item img {
    width: 18px;
    margin-top: 11px;
    margin-bottom: 8px;
}

.download_app_now__list .item h3{
    margin: 0;
    margin-bottom: 12px;
    color: var(--White);
}

.download_app_now__list .item span {
    display: block;
    margin: 0;
    color: var(--White);
}

.how_to_use_app_section {
    margin-bottom: 134px;
    background: var(--Royal-blue);
    padding-bottom: 115px;
}

.how_to_use_app__paragraph--description {
    margin: 0;
    width: 300px;
    text-align: center;
}

.how_to_use_app__paragraph--hero-text {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 40px;
}

.how_to_use_app_section__container{
    position: relative;
}

video {
    width: 343px;
    display:block;  
    margin: 0 auto;
    border-radius: 10px;
    height: 150px; 
    position: absolute;
    bottom: -185px;
    object-fit: cover;
}


.our_happy_customers_section {
    background-color: var(--Royal-blue);
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.our_happy_customers_section h2 {
    margin: 0 auto;
    width: fit-content;
    padding-top: 60px;
    margin-bottom: 18px;

}

.our_happy_customers__paragraph--description-text {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    margin-bottom: 32px;
}

.our_happy_customers__sliders {
    display: flex;
    position:relative;
}

.slider {
    width: 343px;
    background-color: var(--White);  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px 18px 20px 9px;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
}

.slider img {
    width: 50px;
    display: block;
    margin: 0; 
}

.slider h3 {
    margin: 0;
}

.slider p {
    margin: 0;
    width: 316px;
    text-align: center;
    margin-top: 18px;
}

/* .sliders__slider--two, .sliders__slider--three, .sliders__slider--four, .sliders__slider--five {
    position: absolute;
    height: 215px;
    margin-top: 15px;    
} */

.slider:not(.slider.main) {
    position: absolute;
    height: 215px;
    margin-top: 15px; 
    z-index: 4; 
}

.slider.first, .slider.second {
    left: -20px;
}

.slider.third, .slider.fourth {
    right: -20px;
}

.our_happy_customers__sliders .main {
    position: relative;
    z-index: 5;
    margin: 0 auto;
    margin-bottom: 40px;
}
.our_happy_customers__slider_buttons {
    width: fit-content;
    margin: 0 auto;    
}

.our_recent_blog_section {
    position: relative; 
    margin-bottom: 60px; 
}

.our_recent_blog_section h2 {
    width: fit-content; 
    margin: 0 auto;
    margin-bottom: 18px;
}

.our_recent_blog__paragraph--description-text {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    margin-bottom: 40px;
}

.our_recent_blog__list{
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.our_recent_blog__list .item {
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.our_recent_blog__list img {
    width: 343px;
    display: block;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.our_recent_blog__list h3 {
    margin: 0;
    margin-left: 18px;
    width: fit-content;
    margin-bottom: 18px;
} 

.our_recent_blog__list p {
    margin: 0;
    margin-left: 18px;
    margin-bottom: 20px;
}

.our_recent_blog__list a {
    margin-left: 18px;
}

.information_section__mail_and_number{
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: -150px;
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    margin-right: 16px;
    margin-left: 16px;
}

.mail_and_number img {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.mail_and_number a {
    text-decoration: none;
}

.information_section__border {
    margin: 0 auto;
    width: 117px;
    height: 4px;
    background-color: var(--Black);

}

.bg_main-footer {
    background-color: var(--Black);
}

.main_footer {
    background-color: var(--Black);
    padding-top: 220px;
}

.main_footer__footer-description .footer-description__paragraph--hero-text {
    margin: 0;
}

.main_footer__footer-description .footer-description__paragraph--description-text {
    margin: 0;
    margin-bottom: 40px;
}

.footer-description__social-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 62px;
}

.footer-description__social-list .item{
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid var(--White);
}

.footer-description__social-list .item:nth-child(1) {
    padding-left: 0;
}

.footer-description__social-list .item:last-child {
    border-style: none;  
}

.main_footer__footer_links {
    margin-bottom: 60px;
}

.footer_links__paragraph--hero-text {
    margin: 0;
    margin-bottom: 11px;
}

.footer_links__links-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style: none;
}

.footer_links__links-list .item a {
    text-decoration: none;
}

.footer_news__paragraph--hero-text {
    margin: 0;
    margin-bottom: 11px;
}

.footer_news__paragraph--description-text {
    margin: 0;
    width: 298px;
    margin-bottom: 33px;  
}

.footer_news__form {
    padding-bottom: 60px;
    border-bottom: 1px solid var(--White);
    position: relative;
}

.form__text {
    display: none;
}

.form__input--email {
    padding: 13px 187px 13px 17px;
    border-radius: 4px;
    width: 343px;
    height: 50px;
    border-style: none;
}

.form__input--email-button {
    position: absolute;
    padding: 11px 13px;
    text-align: center;
    background-color: var(--Royal-blue);
    border-radius: 4px;
    height: 46px;
    width: 48px;
    border-style: none;
    left:292px;
    top: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.main_footer__copyright {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 28px;
    gap: 18px;
    justify-content: center;
}

.copyright__icon--copy {
    margin: 0;
}

.copyright__paragraph--text {
    margin: 0;
}







