* {
    box-sizing: border-box;
}

body { 
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

.head-container {
    margin: 0px 136px; /* Отступ от блока по краям */
    padding-top: 74px; /* Отступ контента сверху от род.блока */
}

header { 
    background-image: url(pictures/Background\ Image.png);
    height: 100vh; /* блок растягивается на всю высоту экрана(максимальная высота монитора) */
    background-repeat: no-repeat; /*не позволяет повторять картинку */
    background-size: cover; /* картинка растягивается на весь монитор */
    height: 1024px;
}

.nav1 {
    margin-right:;
}

.upper-nav1 { 
    display:flex;
    margin-bottom: 15px;
}

.upper-mail {
    margin-right: 47px;
    margin-left: 18px;
}

.upper-phone-img{ 
    margin-right: 18px;
}

.upper-nav2 {
    display: flex;
    margin-left: 627px;
}

.upper-instagram, .upper-twitter, .upper-youtube { 
    padding-left: 30px;
}

.upper-a{ 
    font-family: Josefin Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-decoration: none;
    color: #fff
}

.header-line { 
    display: flex; /*Все элементы, расположенные в этом div располагаются друг за другом */
    align-items: center; /* выравнивание всех элементов по линии главного элемента */
    background-color: #fff;
    height: 60px;
    justify-content: center; /* выраваивает элементы, когда они не используют всё доступное пространство по горизонтали */
    border-radius: 5px;
}

.nav-item { 
   color:#000;
   text-decoration:none;
   font-weight: 600;
   font-size: 20px;
   margin-right: 40px; 
}

.nav-item:hover {
    color: #5956E9;
    transition: color 0.3s linear; /* позволяет менять скорость изменения css свойств */
}

.header-download {
    background-color: #5956E9;
    text-decoration: none;
    color:#fff;
    padding: 12px 15px 8px 16px;
    border-radius: 5px;
}

.header-button {
    
}

.header-logo img{ 
    background-color: #fff;
    padding: 31px 17px 31px 16px;
    border-radius: 5px;
}

.header-download:hover { 
    background-color: #6766c9;
    transition: background-color 0.3s linear;
}

.under-header{
    display: flex;
}

.under-header-content {
    background-color: #fff;
    display:inline-block;
    margin-top: 238px;
    margin-left: 135px;
    margin-right: 174px;
    margin-bottom: 220px;
    position:relative;
}


.under-header-content h1 {
    font-family: Josefin Sans;
    font-size: 48.83px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 63.479px */
    text-transform: uppercase;
    color: #5956E9;
}

.download-up-now {
    color: #232233;
    font-family: Josefin Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; /* 150% */
    text-transform: uppercase;
}

.standart-text {
    color: #6C6C72;
    font-family: Josefin Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.under-header-h1 { 
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 23px;
    margin-bottom: 18px;
}

.under-header-p {
    margin-left: 30px;
    margin-right: 53px;
    margin-bottom: 52px;
}

.under-header-dan {
    margin-left: 30px;
    margin-right: 251px;
    margin-bottom: 5px;
}

.under-header-buttons { 
    display:flex;
    margin-left: 30px;
    margin-bottom: 40px; 
}

.header-content-button-ios{ 
    margin-left: 14px;
}

.under-header-img {
     margin-top: 82px;
}

.back-border {
    width: 570px;
    height: 535px;
    border: 18px solid #7572FF;
    position: absolute;
    margin-left: 185px;
    margin-top: 187px;
}